<#include "base.ftl.html">
<#macro contents>
<div class="card-wrapper">
    <#list fragments as fragment>
    <div class="community-card">
        <a href="${address}ldf/${fragment.id}" style="text-decoration: none;"><font style="text-transform: uppercase; font-weight: bold; color:#7c7c7c">${fragment.getPredicate()}</font></a><br/><br/>
        <div class="card-chart"><canvas id="chart-${fragment.getId()}"></canvas></div><br/>
        <b>Triples:</b> ${fragment.getTriples()}<br/><br/>

        <form action="update" method="get">
            <input type="hidden" id="mode" name="mode" value="create">
            <input type="hidden" id="id" name="id" value="${fragment.getId()}">
            <input type="submit" id="modify" value="Modify">
        </form>
        <form action="fragment" method="get">
            <input type="hidden" name="mode" value="details">
            <input type="hidden" name="id" value="${fragment.getId()}">
            <input type="submit" id="details" value="Details">
        </form>
    </div>
    </#list>

    <div class="community-card">
        <div class="card-content">
            <form action="upload" method="post" enctype="multipart/form-data" id="hdtform">
                <label for="hdtfile" class="drop-container" id="hdtdrop">
                    <input type="hidden" id="community" name="community" value="${community.getId()}">
                    <br/><span class="drop-title-hdt">Drop HDT files here to <b>upload</b> a dataset</span><br/>
                    <i>or</i><br/><br/>
                    <input type="file" id="hdtfile" name="hdtfile" required><br/><input type="submit" id="submithdt" value="Submit"><br/>
                </label>
            </form>
        </div>
    </div>
</div>

<script>
    const hdtDropContainer = document.getElementById("hdtdrop")
    const hdtFileInput = document.getElementById("hdtfile")

    hdtDropContainer.addEventListener("dragover", (e) => {
        // prevent default to allow drop
        e.preventDefault()
    }, false)

    hdtDropContainer.addEventListener("dragenter", () => {
        hdtDropContainer.classList.add("drag-active")
    })

    hdtDropContainer.addEventListener("dragleave", () => {
        hdtDropContainer.classList.remove("drag-active")
    })

    hdtDropContainer.addEventListener("drop", (e) => {
        e.preventDefault()
        hdtDropContainer.classList.remove("drag-active")
        hdtFileInput.files = e.dataTransfer.files
    })

</script>

<script>
    <#list fragments as fragment>
    const data${fragment.getId()} = {
        labels: [
            'Subjects',
            'Predicates',
            'Objects'
        ],
        datasets: [{
            data: [${fragment.getSubjects()}, ${fragment.getPredicates()}, ${fragment.getObjects()}],
            backgroundColor: [
                'rgb(189,79,108)',
                'rgb(82,167,193)',
                'rgb(196,202,104)'
            ],
            hoverOffset: 4
        }]
    };

    const config${fragment.getId()} = {
        type: 'doughnut',
        data: data${fragment.getId()},
    options: {
        plugins: {
            legend: {
                display: false
            }
        }
    }
    };

    var chartFragments = new Chart(
        document.getElementById('chart-${fragment.getId()}'),
        config${fragment.getId()}
    );
    </#list>
</script>
</#macro>

<@display_page/>
