<#include "base.ftl.html">
<#macro contents>
<div class="save-wrapper">
    <input type="button" onclick="save()" class="save-btn" value="Save update"/>
</div>

<div class="contbox">
    <font style="text-transform: uppercase; font-weight: bold; color:#7c7c7c">Suggested Changes</font>
    <table id="changes">
        <tr>
            <th><b>Subject</b></th>
            <th><b>Predicate</b></th>
            <th><b>Object</b></th>
            <th></th>
        </tr>
    </table>
</div>

<div class="triple-wrapper">
    <input type="text" id="subj" name="subj" placeholder="Subject"/>
    <input type="text" id="pred" name="pred" placeholder="Predicate"/>
    <input type="text" id="obj" name="obj" placeholder="Object"/>
    <input type="button" id="add" onclick="add()" value="Add">
</div>

<div class="contbox">
    <font style="text-transform: uppercase; font-weight: bold; color:#7c7c7c">Current Triples</font>
    <form action="update">
        <input type="hidden" id="mode" name="mode" value="create"/>
        <input type="hidden" id="id" name="id" value="${id}"/>
        <input type="text" id="search" name="search" placeholder="URI"/>
        <input type="submit" id="searchBtn" value="Search">
    </form>

    <table id="triples">
        <tr>
            <th><b>Subject</b></th>
            <th><b>Predicate</b></th>
            <th><b>Object</b></th>
            <th></th>
        </tr>
        <#list triples as triple>
        <tr>
            <td>${triple.getSubject()}</td>
            <td>${triple.getPredicate()}</td>
            <td>${triple.getObject()}</td>
            <td><input type="button" class="remove" onclick="del('${triple.getSubject()}','${triple.getPredicate()}','${triple.getObject()}')" value="Remove"/></td>
        </tr>
        </#list>
    </table>
</div>

<form action="update" id="updateForm">
    <input type="hidden" id="id" name="id" value="${id}" />
    <input type="hidden" id="mode" name="mode" value="suggest" />
    <input type="hidden" id="content" name="content" value="" />
</form>

<script type="text/javascript">
    window.onload = function() {
        if (sessionStorage.getItem("update-${id}") === "" || sessionStorage.getItem("update-${id}") === null)
            sessionStorage.setItem("update-${id}", JSON.stringify([]));

        JSON.parse(sessionStorage.getItem("update-${id}")).forEach((ele) => {
            addRow(ele.type, ele.subject, ele.predicate, ele.object);
        });
    };

    function del(subject, predicate, object) {
        var lst = JSON.parse(sessionStorage.getItem("update-${id}"));
        var found = false;
        lst.forEach((ele) => {
            if (ele.subject === subject && ele.predicate === predicate && ele.object === object)
                found = true;
        });
        if (found) return;

        var e = {type: 'DEL', subject: subject, predicate: predicate, object: object};
        lst.push(e);
        sessionStorage.setItem("update-${id}", JSON.stringify(lst));
        addRow('DEL', subject, predicate, object);
    }

    function add() {
        var ele = {type: "ADD", subject: document.getElementById("subj").value, predicate: document.getElementById("pred").value, object: document.getElementById("obj").value};
        var lst = JSON.parse(sessionStorage.getItem("update-${id}"));
        lst.push(ele);
        sessionStorage.setItem("update-${id}", JSON.stringify(lst));
        addRow(ele.type, ele.subject, ele.predicate, ele.object);
    }

    function remove(subject, predicate, object) {
        var lst = JSON.parse(sessionStorage.getItem("update-${id}"));
        var e = null;
        lst.forEach((ele) => {
            if (ele.subject === subject && ele.predicate === predicate && ele.object === object)
                e = ele;
        });

        var newLst = lst.filter(function(ele){
            return ele !== e;
        });
        sessionStorage.setItem("update-${id}", JSON.stringify(newLst));
        location.reload();
    }

    function addRow(type, subject, predicate, object) {
        var table = document.getElementById("changes");
        var row = table.insertRow(1);

        var c1 = row.insertCell(0);
        var c2 = row.insertCell(1);
        var c3 = row.insertCell(2);
        var c4 = row.insertCell(3);

        c1.innerText = subject;
        c2.innerText = predicate;
        c3.innerText = object;
        c4.innerHTML = "<input type=\"button\" class=\"remove\" onclick=\"remove('"+subject+"','"+predicate+"','"+escapeHtml(object)+"')\" value=\"Remove\"/>";

        if (type === "ADD")
            row.className = "addition";
        else
            row.className = "deletion";
    }

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }

    function save() {
        var out = "";
        var lst = JSON.parse(sessionStorage.getItem("update-${id}"));
        lst.forEach((ele) => {
            var str = "";
            if(ele.type === "ADD") str = "+";
            else str = "-";
            str = str + " (" + ele.subject + ", " + ele.predicate + ", " + ele.object + ")";
            out = out + str + "\n";
        });

        document.getElementById("content").value = encodeURI(out).replaceAll("+","%2B");
        document.getElementById("updateForm").submit();
        sessionStorage.setItem("update-${id}", "");
    }
</script>
</#macro>

<@display_page/>
