<#include "base.ftl.html">
<#macro contents>
<div class="editor-query">
    <form action="sparql" id="queryform">
        <div class="titlebar">
            SPARQL
            <div class="time">
                <label for="date">Date</label>
                <input type="datetime-local" id="date" name="date"value="${dte}">
            </div>
        </div>
        <textarea name="query" form="queryform">${query}</textarea>
        <input type="submit" value="Run Query">
    </form>
</div>

<div class="contbox">
    <div class="resultbox">
        <b>${count} result(s)</b><br/><br/>
        <#if count!=0>
            <table id="results">
                <tr>
                    <#list variables as var>
                        <th><b>${var}</b></th>
                    </#list>
                </tr>
                <#list values as vals>
                <tr>
                    <#list vals as val>
                    <td>${val}</td>
                    </#list>
                </tr>
                </#list>
            </table>
        </#if>
    </div>
</div>
</#macro>

<@display_page/>
