<#include "base.ftl.html">
<#macro contents>
<div class="save-wrapper">
    <form action="update" id="acceptForm">
        <input type="hidden" name="id" value="${id}" />
        <input type="hidden" name="mode" value="acc" />
        <input type="submit" class="save-btn" value="Accept update"/>
    </form>
</div>

<div class="contbox">
    <form action="update">
        <input type="hidden" id="mode" name="mode" value="view"/>
        <input type="hidden" id="id" name="id" value="${id}"/>
        <input type="text" id="search" name="search" placeholder="URI"/>
        <input type="submit" id="searchBtn" value="Search">
    </form><br/><br/>

    <table id="changes">
        <tr>
            <th><b>Subject</b></th>
            <th><b>Predicate</b></th>
            <th><b>Object</b></th>
        </tr>
        <#list operations as operation>
        <#if operation.isAddition()>
        <tr class="addition">
        <#else>
        <tr class="deletion">
        </#if>
            <td>${operation.getSubject()}</td>
            <td>${operation.getPredicate()}</td>
            <td>${operation.getObject()}</td>
        </tr>
        </#list>
    </table>
</div>
</#macro>

<@display_page/>
